.table th {
    background-color: blue;
    color: white;
}

#filters {
    width: 870px;
    height: 400px;
    margin-top: 20px;
}

.filter-container {
    width: 200px;
    height: 380px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

#group-list,
#manager-list,
#show-list {
    height: 300px;
    width: 180px;
}

#month-selector {
    width: 180px;
}

.summary-table tr:last-child {
    background-color: lightblue;
}

.before-summary-table .summary {
    background-color: lightblue;
}

.summary-table td {
    white-space: nowrap;
}

.btn {
    margin-top: 5px;
}
.right{
    text-align: right;
}
.top{
    vertical-align: top !important;
}
.center{
    text-align: center;
}